<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

  <mapping map-id="personTo">
    <class-a>com.romario.mentoring.person_web_service.Person</class-a>
    <class-b>com.romario.mentoring.model.Person</class-b>
  </mapping>

  <mapping map-id="personFrom">
    <class-a>com.romario.mentoring.model.Person</class-a>
    <class-b>com.romario.mentoring.person_web_service.Person</class-b>
  </mapping>

</mappings>
